<header class="h-16 border-b bg-white flex items-center justify-between px-6">
  <h1>Posts Manager</h1>

  <nav class="nav">
    <ul class="nav-list flex items-center gap-6">
      <li class="nav-item flex items-center gap-2">
        <a routerLink="/posts" routerLinkActive="active" class="nav-link">
          Listar Posts
        </a>
      </li>
      <li class="nav-item flex items-center gap-2">
        <a routerLink="/post/edit" routerLinkActive="active" class="nav-link">
          Editar Post
        </a>
      </li>
      <li class="nav-item flex items-center gap-2">
        <a routerLink="/post/1" routerLinkActive="active" class="nav-link">
          Detalhes do Post
        </a>
      </li>
    </ul>
  </nav>

</header>
