<div class="flex w-full items-center gap-2">
  <div class="relative flex-1">
    <i
      class="ph ph-magnifying-glass absolute left-3 top-1/2 -translate-y-1/2 text-gray-400 text-lg"
    ></i>

    <input
      type="text"
      [(ngModel)]="searchText"
      placeholder="Pesquisar posts por título ou conteúdo"
      class="w-full rounded-lg border border-gray-300 pl-10 pr-4 py-2 text-sm focus:outline-none focus:ring-0 focus:border-blue-300"
    />
  </div>

  <app-button (click)="onSearchClick()" textButton="Pesquisar">
    Pesquisar
  </app-button>
</div>
